# Authentication
tenancy_ocid         = "edesignagency"
user_ocid            = "<user_ocid>"
fingerprint          = "<fingerprint>"
private_key_path     = "<private_key_path>"

# Region
region = "<region>"

# Compartment
compartment_ocid = "<compartment_ocid>"

# MySql_password
MySql_password = "<MySql_password>"