# Authentication
tenancy_ocid         = "edesignagency"
user_ocid            = "ocid1.user.oc1..aaaaaaaavwlgcwak6ozg4q33422rskyhwhgqd3mf62jravjwbxgybzwyauga"
fingerprint          = "2048 SHA256:xWEGxETA1TZeE6UtAHakOrKlOAdgrwG/0LnYx9v506I no comment (RSA)"
private_key_path     = ""

# Region
region = "<region>"

# Compartment
compartment_ocid = "<compartment_ocid>"

# MySql_password
MySql_password = "<MySql_password>"